.auctions_section-head {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 32px;
  @include sm {
    flex-wrap: wrap;
    text-align: center;
    &:has(.map-icon-btn) {
      flex-wrap: nowrap;
      text-align: start;
    }
  }
  @include xs {
    gap: 16px 14px;
    margin-bottom: 24px;
  }
}

.auctions_section-title {
  font-size: 30px;
  font-weight: 700;
  color: $textColor;
  margin: 0;
  @include sm {
    width: 100%;
  }
  @include xs {
    font-size: 24px;
  }
}

.auctions_section-tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 19px;
  @include md {
    gap: 16px;
  }
  @include sm {
    max-width: calc(100% - 156px);
    overflow-x: auto;
    justify-content: start;
  }
  @include xs {
    max-width: calc(100% - 60px);
    gap: 8px;
  }
}

.auctions_tab-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 40px;
  width: fit-content;
  padding: 0 16px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  background-color: #efefef;
  @include focus(#616161);
  @include sm {
    font-size: 12px;
    padding: 0 12px;
    gap: 8px;
    height: 36px;
    margin: 5px 0;
  }
  .icon {
    width: 24px;
    aspect-ratio: 1;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
  }
  &:not(:has(.icon)) {
    &::before {
      content: "";
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: currentColor;
    }
  }
  &.active {
    background-color: $primaryColor;
    color: #fff;
  }
}

.auctions_section-tools {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 66px;
  &:has(.map-icon-btn),
  &:has(.sort-select) {
    gap: 34px;
  }
  @include md {
    gap: 16px;
    &:has(.map-icon-btn) {
      gap: 16px;
    }
  }
  @include xs {
    &:has(.sort-select) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 16px;
      width: 100%;
    }
  }
}

.views-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  border: 1px solid #f0eff9;
  background-color: #fff;
  overflow: hidden;
  flex-shrink: 0;
  @include sm {
    display: none;
  }
}

.view-btn {
  width: 39px;
  aspect-ratio: 39/46;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font-size: 29px;
  padding: 0;
  @include focus(#2a2951);
  &:hover {
    color: $primaryColor;
  }
  &.active {
    background-color: #e7edf2;
    color: #2a2951;
  }
}

.map-btn {
  border-radius: 20px;
  height: 46px;
  @include focus(#efefef);
  &:hover {
    background-color: $secondaryColor;
    border-color: $secondaryColor;
    color: #efefef;
  }
  @include sm {
    padding: 0;
    width: 140px;
  }
  @include xs {
    width: 46px;
    .text {
      display: none;
    }
  }
}

.auctions_section-btn {
  width: fit-content;
  margin: 32px auto 0;
}

.map-icon-btn {
  width: 48px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  border: 1px solid #f0eff9;
  background-color: #fff;
  overflow: hidden;
  font-size: 26px;
  flex-shrink: 0;
  @include focus(#2a2951);
  &:hover {
    background-color: $primaryColor;
    color: #fff;
  }
  @include md {
    width: 46px;
    font-size: 24px;
  }
}

.sort-select {
  width: 172px;
  @include xs {
    width: 100%;
  }
}

.filter_select-content {
  position: relative;
  .icon {
    position: absolute;
    top: 50%;
    inset-inline-start: 0;
    transform: translateY(-50%);
    pointer-events: none;
    width: 24px;
    aspect-ratio: 1;
    flex-shrink: 0;
    font-size: 20px;
    color: #333333;
  }
  .filter-select {
    width: fit-content;
    height: 60px;
    border: none;
    padding-inline-start: 28px;
    padding-inline-end: 32px;
    font-size: 16px;
    font-weight: 600;
    color: #333333;
    background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.9201 8.95001L13.4001 15.47C12.6301 16.24 11.3701 16.24 10.6001 15.47L4.08008 8.95001" stroke="%23292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    background-size: 24px;
    background-position: left 0 top 50%;
    @include ltr {
      background-position: right 0 top 50%;
    }
    @include xs {
      width: 100%;
    }
  }
  @include xs {
    width: 100%;
  }
}
