.acrchive-filters {
}
.filters-title {
  font-size: 20px;
  line-height: 1.334;
  font-weight: 600;
  color: #2a2951;
  margin: 0 0 12px;
}
.filters-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.filter-search {
  width: 100%;
  position: relative;
  .filter_search-input {
    width: 100%;
    height: 60px;
    border-radius: 16px;
    border: 2px solid transparent;
    background-color: #fff;
    border: 1px solid #b6b6b6;
    padding-inline: 20px 50px;
    font-size: 16px;
    font-weight: 600;
    color: $textColor;
    transition: all 0.3s ease-in-out;
    &::placeholder {
      font-size: 16px;
      font-weight: 500;
      color: #818181;
    }
    &:focus {
      border-color: $primaryColor;
    }
  }
  .filter_search-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    inset-inline-end: 16px;
    padding: 0;
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    @include focus(#b2b2b2);
    &:hover {
      color: $primaryColor;
    }
  }
}
.filter-item {
  .filter-label {
    font-size: 14px;
    line-height: 1.334;
    color: #475467;
    font-weight: 400;
    margin: 0 0 8px;
  }
  .filter-values {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
  }
  .filter-value {
    flex: 1;
    width: calc(100% / 3 - (8px / 3));
    .text {
      width: 100%;
      height: 40px;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #efefef;
      font-size: 14px;
      color: #616161;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }
    input {
      display: none;
      &:checked {
        ~ .text {
          background-color: $primaryColor;
          color: #fff;
        }
      }
    }
  }
}
