.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 76px 22px;
  @include md {
    gap: 16px;
  }
  @include sm {
    grid-template-columns: repeat(2, 1fr);
  }
  @include xs {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.product-item {
  width: 100%;
  overflow: hidden;
  border-radius: 34px;
  padding: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  gap: 16px;
  @include xs {
    width: 100%;
    max-width: 392px;
    margin: 0 auto;
  }
  .item-img {
    width: 100%;
    aspect-ratio: 392/248;
    border-radius: 34px;
    overflow: hidden;
    position: relative;
    display: flex;
    transition: none;
    img {
      transition: transform 0.3s ease-in-out;
    }
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
  .item-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
  }
  .item-title {
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.334;
    color: $textColor;
    margin: 0;
    @include xl {
      font-size: 18px;
    }
    a {
      @include focus(inherit);
      &:hover {
        color: $primaryColor;
      }
    }
  }

  .item-date {
    font-size: 12px;
    line-height: 1.334;
    font-weight: 400;
    color: #828282;
  }
  .countdown-label {
    font-size: 18px;
    line-height: 1.334;
    font-weight: 400;
    color: #828282;
  }
  .countdown-content {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    font-weight: 700;
    color: $primaryColor;
    @include xl {
      font-size: 20px;
    }
  }
  .countdown-item {
    display: flex;
    gap: 5px;
    margin: 0;
  }
  .item-btns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    padding-top: 8px;
  }
  .item-btn {
    width: 100%;
    height: 50px;
    padding: 0;
  }
  .item-fav {
    position: absolute;
    top: 24px;
    inset-inline-end: 24px;
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #ffffff;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
    color: #d20653;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }
  .item-labels {
    position: absolute;
    top: 24px;
    inset-inline-start: 24px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
  }
  .label-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    height: 24px;
    width: fit-content;
    padding: 0 10px;
    border-radius: 12px;
    color: $primaryColor;
    background-color: #e7edf2;
    font-size: 12px;
    font-weight: 400;
    .icon {
      width: 16px;
      aspect-ratio: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
    }
    &.featured {
      color: #2d883e;
      background-color: #d9ffd6;
    }
    &.type {
      color: #104c7f;
      background-color: #e7edf2;
    }
    &.status {
      color: #c9a43b;
      background-color: #faf6eb;
    }
  }
}
