/* General Resets */
* {
  outline: 0 !important;
}
input::placeholder {
  color: inherit;
}
a,
a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
}
button {
  border: none;
  background: none;
  outline: 0;
}
a,
img,
button,
input,
select {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
[role="button"] {
  cursor: pointer;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

input {
  -moz-appearance: textfield;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }
  &::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
  &::-webkit-inner-spin-button,
  &::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }
}

select {
  background-image: url('data:image/svg+xml,<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.9999 15.4006C10.3582 15.4006 9.71656 15.1531 9.23073 14.6672L3.25406 8.69057C2.98823 8.42474 2.98823 7.98474 3.25406 7.71891C3.5199 7.45307 3.9599 7.45307 4.22573 7.71891L10.2024 13.6956C10.6424 14.1356 11.3574 14.1356 11.7974 13.6956L17.7741 7.71891C18.0399 7.45307 18.4799 7.45307 18.7457 7.71891C19.0116 7.98474 19.0116 8.42474 18.7457 8.69057L12.7691 14.6672C12.2832 15.1531 11.6416 15.4006 10.9999 15.4006Z" fill="%23B2B2B2"/></svg>');
  background-repeat: no-repeat;
  background-size: 22px;
  appearance: none;
  background-position: left 16px top 50%;
  @include ltr {
    background-position: right 16px top 50%;
  }
}
.fa-linkedin {
  &::before {
    content: "\f0e1";
  }
}

.fa-twitter {
  &::before {
    content: "\e61b";
  }
}

.fa-facebook {
  &::before {
    content: "\f39e";
  }
}

a,
button {
  cursor: pointer;
}
