@font-face {
  font-family: "AR";
  src: url("../fonts/IBM/IBMPlexSansArabic-ExtraLight.woff2") format("woff2"),
    url("../fonts/IBM/IBMPlexSansArabic-ExtraLight.woff") format("woff"),
    url("../fonts/IBM/IBMPlexSansArabic-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AR";
  src: url("../fonts/IBM/IBMPlexSansArabic-Light.woff2") format("woff2"),
    url("../fonts/IBM/IBMPlexSansArabic-Light.woff") format("woff"),
    url("../fonts/IBM/IBMPlexSansArabic-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AR";
  src: url("../fonts/IBM/IBMPlexSansArabic-Regular.woff2") format("woff2"),
    url("../fonts/IBM/IBMPlexSansArabic-Regular.woff") format("woff"),
    url("../fonts/IBM/IBMPlexSansArabic-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AR";
  src: url("../fonts/IBM/IBMPlexSansArabic-Medium.woff2") format("woff2"),
    url("../fonts/IBM/IBMPlexSansArabic-Medium.woff") format("woff"),
    url("../fonts/IBM/IBMPlexSansArabic-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AR";
  src: url("../fonts/IBM/IBMPlexSansArabic-SemiBold.woff2") format("woff2"),
    url("../fonts/IBM/IBMPlexSansArabic-SemiBold.woff") format("woff"),
    url("../fonts/IBM/IBMPlexSansArabic-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AR";
  src: url("../fonts/IBM/IBMPlexSansArabic-Bold.woff2") format("woff2"),
    url("../fonts/IBM/IBMPlexSansArabic-Bold.woff") format("woff"),
    url("../fonts/IBM/IBMPlexSansArabic-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "EN";
  src: url("../fonts/Nunito/Nunito-ExtraLight.woff2") format("woff2"),
    url("../fonts/Nunito/Nunito-ExtraLight.woff") format("woff"),
    url("../fonts/Nunito/Nunito-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "EN";
  src: url("../fonts/Nunito/Nunito-Light.woff2") format("woff2"),
    url("../fonts/Nunito/Nunito-Light.woff") format("woff"),
    url("../fonts/Nunito/Nunito-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "EN";
  src: url("../fonts/Nunito/Nunito-Regular.woff2") format("woff2"),
    url("../fonts/Nunito/Nunito-Regular.woff") format("woff"),
    url("../fonts/Nunito/Nunito-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "EN";
  src: url("../fonts/Nunito/Nunito-Medium.woff2") format("woff2"),
    url("../fonts/Nunito/Nunito-Medium.woff") format("woff"),
    url("../fonts/Nunito/Nunito-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "EN";
  src: url("../fonts/Nunito/Nunito-SemiBold.woff2") format("woff2"),
    url("../fonts/Nunito/Nunito-SemiBold.woff") format("woff"),
    url("../fonts/Nunito/Nunito-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "EN";
  src: url("../fonts/Nunito/Nunito-Bold.woff2") format("woff2"),
    url("../fonts/Nunito/Nunito-Bold.woff") format("woff"),
    url("../fonts/Nunito/Nunito-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
