.main-footer {
  background-color: $primaryColor;
  padding: 72px 0;
  .container {
    @include xl {
      max-width: 1324px;
    }
  }
  :last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
  }
  @include md {
    padding: 40px 0;
  }
}

.footer {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 16px;
  padding-bottom: 34px;
  margin-bottom: 24px;
  border-bottom: 1px solid #d0d0d066;
  @include md {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
}

.footer-logo {
  width: 107px;
  aspect-ratio: 107/89;
  display: flex;
  flex-shrink: 0;
}

.footer-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px 30px;
  a {
    line-height: 1.334;
    font-size: 18px;
    @include focus(#fff);
    @include sm {
      font-size: 16px;
    }
  }
  @include xs{
    flex-direction: column;
  }
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-shrink: 0;
  gap: 20px;
}

.social {
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  background-color: rgba(#fff, 0.12);
  @include focus(#fff);
  &:hover {
    background-color: #fff;
    color: $primaryColor;
  }
}

.copyrights {
  font-size: 16px;
  line-height: 1;
  color: #fff;
  text-align: center;
  margin: 0;
}
