.lang-content {
  @include xs {
    display: none;
  }
}
.lang-link {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  color: #333333;
  .icon {
    width: 24px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    flex-shrink: 0;
  }
  .text {
    display: flex;
    align-items: center;
    justify-content: center;
    &::before {
      content: "";
      height: 22px;
      width: 1px;
      border-radius: 1px;
      background-color: #e0e0e0;
      margin-inline: 9px;
    }
  }
  @include rtl {
    direction: ltr;
    font-family: EN;
  }
  @include ltr {
    direction: rtl;
    font-family: AR;
  }
}
