.overlay {
  position: fixed;
  top: 0;
  inset-inline-start: 0;
  inset-inline-end: 0;
  height: 100vh;
  width: 100vw;
  background: #11111199;
  backdrop-filter: blur(6px);
  z-index: 98;
  display: none;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  @include xl {
    gap: 65px;
  }
  li {
    position: relative;
    &::after {
      position: absolute;
      bottom: -29px;
      left: 0;
      height: 6px;
      width: 100%;
      border-radius: 8px 8px 0 0;
      background-color: $primaryColor;
      transition: all 0.3s ease-in-out;
    }
    &:has(a.active) {
      &::after {
        content: "";
      }
    }
  }
  a {
    font-size: 18px;
    font-weight: 600;
    @include focus(#292929);
    &:hover,
    &.active {
      color: $primaryColor;
    }
  }
}
.nav-head {
  display: none;
  align-items: center;
  justify-content: space-between;
  .lang-content {
    display: none;
    @include xs {
      display: flex;
    }
  }
}
.nav-foot {
  display: none;
  .header-btns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .header-btn {
    width: 100%;
  }
  @include xs {
    display: flex;
  }
}
@include md {
  .header-nav {
    position: fixed;
    top: 0;
    inset-inline-start: -300px;
    height: 100dvh;
    width: 300px;
    background-color: #fff;
    border: none;
    z-index: 99;
    transition: all 0.3s ease-in-out;

    &.active {
      inset-inline-start: 0;
    }
  }
  .nav-head {
    display: flex;
  }
  .nav-content {
    width: 100%;
    height: 100dvh;
    display: block;
    padding: 25px 25px 40px;
    overflow-y: auto;
  }
  .nav-list {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding: 35px 0;
    li {
      &:after {
        display: none;
      }
    }
    a {
      font-size: 18px;
    }
  }
}
