.header_search-content {
  @media (min-width: 768px) {
    position: relative;
  }
  @include xs {
    order: 2;
  }
}
.header_search-icon {
  .times {
    display: none;
  }
  &.active {
    .svg {
      display: none;
    }
    .times {
      display: block;
    }
  }
}
.float_search-content {
  position: absolute;
  top: calc(100% + 17px);
  inset-inline-start: -40px;
  background-color: #fff;
  box-shadow: 0px 4px 6px -2px #10182808, 0px 12px 16px -4px #10182814;
  border-radius: 15px;
  z-index: 15;
  padding: 8px;
  display: none;
  @include xs {
    top: calc(100% - 8px);
    inset-inline-start: 0;
    width: 100%;
    border-radius: 0 0 15px 15px;
  }
}

.float_search-form {
  position: relative;
}
.float_search-input {
  width: 350px;
  height: 48px;
  border-radius: 15px;
  border: 2px solid transparent;
  background-color: #fff;
  border: 2px solid #f2f2f2;
  padding-inline: 20px 50px;
  font-size: 14px;
  font-weight: 500;
  color: $textColor;
  transition: all 0.3s ease-in-out;
  &::placeholder {
    font-size: 14px;
    font-weight: 400;
    color: #808080;
  }
  &:focus {
    border-color: $primaryColor;
  }
  @include xs{
    width: 100%;
  }
}
.float_search-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  inset-inline-end: 15px;
  padding: 0;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
  @include focus(#333333);
  &:hover {
    color: $primaryColor;
  }
}
