.header_user-content {
  position: relative;
  @include xs {
    order: 1;
  }
  &:hover {
    .header_user-icon {
      background-color: $secondaryColor;
      color: #fff;
    }
    .header_user-dropdown {
      visibility: visible;
      opacity: 1;
    }
  }
}
.header_user-icon {
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #e7edf2;
  color: $primaryColor;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 22px;
  cursor: pointer;
  @include focus($primaryColor);
  span {
    position: absolute;
    bottom: -1.5px;
    inset-inline-end: -5px;
    width: 18px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #fff;
    color: $secondaryColor;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
  }
  &:hover {
    background-color: $secondaryColor;
    color: #fff;
  }
}

.header_user-dropdown {
  position: absolute;
  top: calc(100% + 7px);
  inset-inline-start: -40px;
  min-width: 218px;
  width: fit-content;
  background-color: #fff;
  box-shadow: 0px 4px 6px -2px #10182808, 0px 12px 16px -4px #10182814;
  border-radius: 15px;
  z-index: 16;
  padding: 8px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
 
  .header_user-info {
    display: flex;
    align-items: center;
    gap: 21px;
    padding-bottom: 11px;
  }
  .header_user-avatar {
    width: 40px;
    aspect-ratio: 1;
    border-radius: 12px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .header_user-text {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 700;
    color: #000000;
    margin: 0;
    span {
      font-family: EN;
      font-size: 12px;
      font-weight: 500;
      color: $primaryColor;
      direction: ltr;
      white-space: nowrap;
    }
  }
  .header_user-list {
    display: flex;
    flex-direction: column;
    gap: 11px;
    li {
      border-top: 1px solid #f2f2f2;
      padding-top: 11px;
    }
    a {
      display: flex;
      align-items: center;
      gap: 14px;
      font-size: 14px;
      font-weight: 500;
      @include focus(#000);
      .icon {
        width: 24px;
        aspect-ratio: 1;
        font-size: 21px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &:hover {
        color: $primaryColor;
      }
      &.logout-link {
        @include focus(#fc4242);
        &:hover {
          color: darken(#fc4242, 25%);
        }
      }
    }
  }
}
