.modal-backdrop {
  --bs-backdrop-bg: #11111199;
  --bs-backdrop-opacity: 1;
  backdrop-filter: blur(6px);
}
.modal {
  .modal-dialog {
    @media (min-width: 500px) {
      --bs-modal-width: 460px;
      margin-inline: auto;
      width: var(--bs-modal-width);
    }
    &.modal-lg {
      --bs-modal-width: 1132px;
      margin-inline: auto;
      width: 100%;
      max-width: var(--bs-modal-width);
    }
  }
  .modal-content {
    border-radius: 24px;
    border: none;
    padding: 0;
    position: relative;
    max-height: calc(100dvh - 100px);
    overflow-y: auto;
    &:has([type="tel"][intlTelInput]) {
      overflow: hidden;
    }
    @supports (-moz-appearance: none) {
      scrollbar-width: thin;
      scrollbar-color: $primaryColor #f1f1f1;
    }
    @supports selector(::-webkit-scrollbar) {
      &::-webkit-scrollbar {
        background-color: #f1f1f1;
        width: 4px;
        border-radius: 3px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $primaryColor;
        border-radius: 3px;
      }
    }
    > :last-child {
      margin-bottom: 0;
    }
  }
  .modal-header {
    padding: 16px;
    border: none;
    display: flex;
    gap: 8px;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .modal-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    padding: 16px 0;
    color: #2e2d3c;
    margin: 0;
  }
  .modal-close {
    width: 36px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    cursor: pointer;
    padding: 0;
    font-size: 19px;
    margin-inline-start: auto;
    @include focus(#37356a);
    &:hover {
      background-color: #e03939;
      color: #fff;
    }
  }
  .modal-body {
    padding: 16px;
    margin: 0;
    @supports (-moz-appearance: none) {
      scrollbar-width: thin;
      scrollbar-color: $primaryColor #f1f1f1;
    }
    @supports selector(::-webkit-scrollbar) {
      &::-webkit-scrollbar {
        background-color: #f1f1f1;
        width: 4px;
        height: 0;
        border-radius: 3px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $primaryColor;
        border-radius: 3px;
      }
    }
  }
}

// .modal {
//   display: block !important;
//   opacity: 1 !important;
//   .modal-dialog {
//     transform: none !important;
//   }
// }

.delete-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 6px;
  .title {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
    color: #101828;
    margin: 0;
  }
  .desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #667085;
    margin: 0;
  }
  .btns-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    width: 100%;
    padding-top: 18px;
  }
  .default-btn {
    border: none;
    height: 50px;
    font-size: 16px;
    width: 100%;
    background-color: #e03939;
    &.secondary-btn {
      background-color: #fff;
      color: #e03939;
    }
    &:hover {
      background-color: #e03939;
      color: #fff;
    }
  }
}

.confirm-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 6px;
  .title {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
    color: #101828;
    margin: 0;
  }
  .desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #667085;
    margin: 0;
  }
  .btns-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    width: 100%;
    padding-top: 18px;
  }
  .default-btn {
    height: 50px;
    font-size: 16px;
    width: 100%;
  }
}
