.account_page-content {
  padding: 60px 0 96px;
  .container {
    @include xl {
      max-width: 1336px;
    }
  }
  @include xs {
    padding: 40px 0 50px;
  }
}
.account-row {
  display: grid;
  grid-template-columns: 310px 1fr;
  gap: 24px;
  align-items: start;
  position: relative;
  @include md {
    grid-template-columns: 2fr 5fr;
  }
  @include sm {
    grid-template-columns: 1fr;
  }
}
.account-side {
  padding: 20px 24px;
  border: 1px solid #0000001a;
  border-radius: 16px;
  position: sticky;
  top: 25px;
  inset-inline-start: 0;
  @include sm {
    width: 100%;
    position: relative;
    inset: unset;
  }
  .account-nav {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
  }
  .account_nav-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    a {
      padding: 0 16px;
      border-radius: 12px;
      height: 48px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 8px;
      font-size: 16px;
      @include focus(#818181);
      .icon {
        width: 24px;
        aspect-ratio: 1;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
      }
      &:hover {
        color: $primaryColor;
      }
      &.active {
        background-color: $primaryColor;
        color: #fff;
      }
    }
  }
}

.account-content {
  padding: 20px 24px;
  border: 1px solid #0000001a;
  border-radius: 16px;
  max-width: 100%;
  overflow: hidden;
  height: 100%;
  .form-grid {
    margin-bottom: 24px;
  }
  .submit-btn {
    height: 60px;
  }
}

.account-head {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 32px;
  @include xs {
    flex-direction: column;
    margin-bottom: 24px;
  }
  .account-titles {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .account_title {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    color: #000;
    margin: 0;
  }
  .account_subtitle {
    font-size: 14px;
    line-height: 1.334;
    color: #667085;
    margin: 0;
  }

  .account_head-btn {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 8px;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    @include focus($primaryColor);
    .icon {
      width: 22px;
      aspect-ratio: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
    }
    &:hover {
      color: $secondaryColor;
      text-decoration: underline;
    }
  }
}

.change_password-link {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 8px;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  @include focus($primaryColor);
  .icon {
    width: 20px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
  }
  &:hover {
    color: $secondaryColor;
    text-decoration: underline;
  }
}

.delete-account {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 8px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  margin: 25px 0 0;
  @include focus(#e03939);
  .icon {
    width: 18px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
  }
  &:hover {
    color: darken(#e03939, 10%);
  }
}

.addresses-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  @include xs {
    grid-template-columns: 1fr;
  }
}

.address-item {
  width: 100%;
  .address-content {
    display: flex;
    align-items: start;
    padding: 16px;
    height: 100%;
    border: 1px solid #104c7f;
    border-radius: 21px;
    gap: 9px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .icon {
    flex-shrink: 0;
    width: 43px;
    aspect-ratio: 43/42;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e7edf2;
    background-color: #fff;
    font-size: 20px;
    color: $primaryColor;
    border-radius: 12px;
  }
  .title {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
    color: #333333;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 0;
    span {
      font-size: 12px;
      font-weight: 400;
      color: #828282;
      line-height: 1.334;
    }
  }
  .mark {
    width: 14.5px;
    aspect-ratio: 1;
    flex-shrink: 0;
    border: 1.5px solid #d1d1db;
    background-color: #efefef;
    border-radius: 50%;
    margin-inline-start: auto;
    box-shadow: 0px 1px 2px 0px #1212170d;
    display: flex;
    align-items: center;
    justify-content: center;
    &:after {
      content: "";
      width: 8px;
      aspect-ratio: 1;
      border-radius: 50%;
      background-color: $primaryColor;
      transform: scale(0);
      opacity: 0;
      transition: all 0.3s ease-in-out;
    }
  }
  input {
    display: none;
    &:checked {
      ~ .address-content {
        background-color: #e7edf2;
        .mark {
          border-color: $primaryColor;
          background-color: #fff;
          &:after {
            transform: scale(1);
            opacity: 1;
          }
        }
      }
    }
  }
}

.chat-input-bar {
  display: flex;
  align-items: center;
  gap: 9px;
  position: relative;
  .input-field {
    width: 100%;
    height: 48px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 16px;
    padding: 0 16px;
    padding-inline-start: 46px;
    font-size: 14px;
    font-weight: 500;
    color: $textColor;
    resize: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    &::placeholder {
      font-size: 14px;
      font-weight: 400;
      color: #828282;
    }
    &:focus {
      box-shadow: none;
      outline: none;
      border-color: $primaryColor;
    }
  }
  .attach-button {
    position: absolute;
    top: 50%;
    inset-inline-start: 14px;
    transform: translateY(-50%);
    width: 24px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #413f3f;
    cursor: pointer;
    padding: 0;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: $primaryColor;
    }
  }
  .send-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 45px;
    aspect-ratio: 45/48;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    border-radius: 14px;
    background-color: $primaryColor;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: $secondaryColor;
    }
  }
}

.msgs-container {
  height: 160px;
  max-height: 160px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;
  .msg-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    .msg-content {
      width: 100%;
      border-radius: 16px;

      padding: 12px;
      font-size: 14px;
      line-height: 1.4;
      margin: 0;
    }
    .msg-info {
      font-size: 12px;
      font-weight: 400;
      line-height: 1.3334;
      color: #919191;
    }
    &.sender {
      .msg-content {
        border-end-end-radius: 0;
        background-color: #e7edf2;
      }
    }
    &.receiver {
      .msg-content {
        border-end-start-radius: 0;
        background-color: #efefef;
      }
    }
  }
}

.bank_accounts-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  @include xs {
    grid-template-columns: 1fr;
  }
}

.bank_account-item {
  display: flex;
  align-items: start;
  padding: 8px 16px 16px;
  height: 100%;
  border: 1px solid #104c7f;
  border-radius: 21px;
  gap: 9px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  .title {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
    color: #333333;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 5px;
    margin: 0;
    span {
      font-size: 12px;
      font-weight: 400;
      color: #828282;
      line-height: 1.334;
      direction: ltr;
      @include rtl {
        text-align: right;
      }
      @include ltr {
        text-align: left;
      }
    }
  }
  .delete_account-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 24px;
    aspect-ratio: 1;
    font-size: 22px;
    color: #292d32;
    cursor: pointer;
    padding: 0;
    margin-inline-start: auto;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: #e03939;
    }
  }
}

.bank_accounts-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  gap: 16px;
  .icon {
    width: 160px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 145px;
    color: $primaryColor;
  }
  .text {
    color: #363333;
    font-size: 18px;
    margin: 0;
  }
  .default-btn {
    width: 100%;
    height: 50px;
    max-width: 327px;
    font-size: 16px;
  }
}
