.product_page-content {
  padding: 60px 0 36px;
  .container {
    @include xl {
      max-width: 1400px;
      padding-inline-start: 68px;
    }
  }
  @include xs {
    padding: 40px 0 50px;
  }
}
.product_main-row {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 32px;
  margin-bottom: 23px;
  @include xl {
    gap: 64px;
  }
  @include md {
    grid-template-columns: 1fr;
  }
}
.product_main-col {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.product-images {
  position: relative;
  .product_images-slider {
    width: 100%;
  }
  .video {
    position: relative;
    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      aspect-ratio: 1;
      color: #d20653;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #ffffff;
      border-radius: 50%;
    }
  }
  .product_main-image {
    width: 100%;
    aspect-ratio: 841/582;
    border-radius: 40px;
    overflow: hidden;
    .icon {
      width: 75px;
      font-size: 50px;
    }
  }
  .product_thumbs-slider {
    width: 100%;
    max-width: 375px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 14px;
    z-index: 2;
  }
  .product_main-thumb {
    width: 100%;
    aspect-ratio: 65/61;
    border-radius: 14px;
    overflow: hidden;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    .icon {
      font-size: 13px;
      width: 24px;
    }
  }
  .swiper-slide-thumb-active {
    .product_main-thumb {
      border-color: #ff951d;
    }
  }
}
.product-images {
  .product_images-tools {
    position: absolute;
    top: 0;
    inset-inline: 0;
    display: flex;
    align-items: center;
    justify-content: start;
    z-index: 2;
    padding: 25px 25px 0;
    gap: 8px;
  }
  .product-action {
    width: 40px;
    aspect-ratio: 1;
    border-radius: 12px;
    background-color: #ffffff;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
    color: #292d32;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: $primaryColor;
      color: #ffffff;
    }
    &.end {
      margin-inline-start: auto;
    }
  }
  .live-info {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    height: 32px;
    .views {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-inline: 3px 7px;
      font-size: 12px;
      font-weight: 700;
      color: #bdbdbd;
      .icon {
        width: 16px;
        aspect-ratio: 1;
        flex-shrink: 0;
      }
    }
    .time {
      padding: 0 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      font-weight: 700;
      color: #333333;
    }
    .hint {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      font-weight: 700;
      color: #fff;
      padding: 0 8px;
      background-color: #fc4242;
    }
  }
}
.product_main-block {
  .product-featured {
    position: absolute;
    bottom: 0;
    inset-inline-start: 0;
    background-color: #fae1e1;
    color: #e03939;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    height: 37px;
    width: fit-content;
    padding: 0 34.5px;
    border-end-start-radius: 33.8px;
    border-start-end-radius: 33.8px;
    z-index: 9;
    .icon {
      font-size: 23px;
      width: 24px;
      aspect-ratio: 1;
      flex-shrink: 0;
    }
  }
}
.product-block {
  padding: 16px 24px;
  background-color: #fff;
  border-radius: 24px;
}
.product-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  .head {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 16px;
    @include sm {
      flex-direction: column;
    }
  }
  .title {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
    font-size: 24px;
    font-weight: 700;
    color: #333;
    @include xs {
      font-size: 18px;
      flex-direction: column;
      align-items: start;
    }
    span {
      color: #828282;
      font-size: 14px;
      font-weight: 400;
    }
  }
  .acceptance-number {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: 400;
    color: #828282;
    span {
      color: #333333;
    }
  }
  .countdown-content {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    font-weight: 700;
    color: $primaryColor;
    @include xl {
      font-size: 20px;
    }
  }
  .countdown-item {
    display: flex;
    gap: 5px;
    margin: 0;
  }
  .price {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .price-label {
    font-size: 16px;
    color: #828282;
  }
  .price-value {
    display: flex;
    align-items: center;
    justify-content: 5px;
    font-size: 24px;
    font-weight: 700;
    color: #333333;
  }
}
.product_single-desc {
  display: flex;
  flex-direction: column;
  gap: 4px;
  .desc-title {
    font-size: 16px;
    font-weight: 600;
    color: #363333;
    margin: 0;
  }
  .desc-text {
    font-size: 16px;
    font-weight: 400;
    color: #616161;
    line-height: 1.443;
    margin: 0;
  }
  .tab-pane & {
    border-top: 1px solid #f2f2f2;
    margin-top: 10px;
    padding: 10px 0 0;
  }
}
.product_main-side {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.log-content {
  padding: 16px;
  background-color: #fff;
  border-radius: 24px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  .log-title {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    color: #333333;
    margin: 0;
    span {
      color: #bdbdbd;
      font-size: 18px;
      font-weight: 400;
    }
    &::after {
      content: "";
      margin-inline-start: auto;
      background-image: url('data:image/svg+xml,<svg width="13" height="7" viewBox="0 0 13 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.31 0.749991L6.96333 5.09666C6.45 5.60999 5.61 5.60999 5.09667 5.09666L0.75 0.749992" stroke="%23292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/></svg>');
      background-repeat: no-repeat;
      background-size: 13px;
      background-position: center;
      width: 16px;
      aspect-ratio: 1;
      flex-shrink: 0;
      display: block;
      transform: rotate(180deg);
      transition: all 0.3s ease-in-out;
    }
    &.closed {
      &::after {
        transform: rotate(0deg);
      }
    }
  }
  .log-list {
    max-height: 345px;
    overflow-y: auto;
    @supports (-moz-appearance: none) {
      scrollbar-width: thin;
      scrollbar-color: #e7edf2 #fff;
    }
    @supports selector(::-webkit-scrollbar) {
      &::-webkit-scrollbar {
        background-color: #fff;
        width: 4px;
        border-radius: 3px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #e7edf2;
        border-radius: 3px;
      }
    }
  }
  .log-item {
    display: flex;
    align-items: start;
    justify-content: space-between;
    overflow: hidden;
    gap: 8px;
    margin-bottom: 16px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  .log-user {
    display: flex;
    align-items: center;
    gap: 8px;
    .avatar {
      width: 44px;
      aspect-ratio: 1;
      border-radius: 9px;
      overflow: hidden;
      flex-shrink: 0;
    }
    .info {
      display: flex;
      flex-direction: column;
      gap: 4px;
      line-height: 1.334;
    }
    .name {
      font-size: 14px;
      font-weight: 400;
      color: #333333;
    }
    .time {
      font-size: 16px;
      color: #828282;
    }
  }
  .log-price {
    font-size: 14px;
    font-weight: 600;
    color: $primaryColor;
    display: flex;
    gap: 5px;
  }
}

.total-info {
  padding: 16px;
  background-color: #fff;
  border-radius: 24px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  .total-title {
    font-size: 24px;
    line-height: 1.5;
    color: #333333;
    font-weight: 600;
    margin: 0;
  }
  .total-price {
    display: flex;
    flex-direction: column;
    gap: 4px;
    .label {
      font-size: 12px;
      color: #828282;
    }
    .value {
      font-size: 18px;
      font-weight: 700;
      color: $primaryColor;
      display: flex;
      gap: 5px;
    }
    .hint {
      padding-top: 4px;
      font-size: 12px;
      color: #fc4242;
    }
  }
  .total-btn {
    width: 100%;
    font-size: 16px;
    height: 50px;
  }
}

.product-gird {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 23px;
  @include md {
    grid-template-columns: 1fr;
  }
}

.auction-details {
  .title {
    font-size: 18px;
    line-height: 1.334;
    color: #292929;
    font-weight: 600;
    margin: 0 0 16px;
  }
  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 16px;
    margin-bottom: 18px;
    border-bottom: 1px solid #f2f2f2;
  }
  .location {
    display: flex;
    align-items: center;
    gap: 4px;
    color: $primaryColor;
    font-size: 14px;
    font-weight: 700;
    .icon {
      width: 24px;
      aspect-ratio: 1;
      font-size: 20px;
      flex-shrink: 0;
    }
  }
  .type {
    color: #959595;
    font-size: 12px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 4px;
    .icon {
      width: 24px;
      aspect-ratio: 1;
      font-size: 20px;
      color: $textColor;
      flex-shrink: 0;
    }
    strong {
      color: $textColor;
      font-size: 14px;
    }
  }
}

.details-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  .item {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 1fr;
  }
  .title {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    .icon {
      width: 24px;
      aspect-ratio: 1;
      font-size: 20px;
      flex-shrink: 0;
      color: $primaryColor;
      @include xs {
        display: none;
      }
    }
  }

  .value {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #333333;
    font-size: 14px;
    font-weight: 700;
  }

  .countdown-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    gap: 8px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.5;
    color: $primaryColor;
    width: 140px;
  }
  .countdown-item {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin: 0;
  }
}

.product-files {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 8px;
  .title {
    font-size: 16px;
    line-height: 1.5;
    color: #363333;
    font-weight: 600;
    width: 100%;
    display: block;
    margin: 0;
  }
  .file-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 4px;
    .icon {
      width: 33px;
      aspect-ratio: 33/37;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    span {
      font-size: 10px;
      line-height: 1.4;
      color: #353535;
    }
  }
}

.product_tabs-content {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #f2f2f2;
}

.modal-totals {
  display: flex;
  flex-direction: column;
  padding: 24px 0 0;
  p {
    margin: 0 0 4px;
    padding: 0 0 4px;
    border-bottom: 1px solid #f0eff9;
    display: flex;
    align-items: center;
    line-height: 1.5;
    justify-content: space-between;

    span {
      color: #667085;
      font-size: 16px;
    }
    strong {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 14px;
      color: #101828;
      font-weight: 500;
      width: 100px;
    }
    &:last-of-type {
      margin: 0;
      padding: 0;
      border: none;
      padding: 13px;
      background-color: #f5f8ff;
      border-radius: 12px;
      span {
        color: #101828;
        font-weight: 400;
      }
      strong {
        color: $primaryColor;
        font-weight: 700;
      }
    }
  }
}
