.single_page-content {
  padding: 55px 0 65px;
  @include xs {
    padding: 40px 0 55px;
  }
}
.single-head {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 58px;
  @include xs {
    margin-bottom: 30px;
  }
}
.single-subtitle {
  font-size: 18px;
  line-height: 1.334;
  color: #363333;
  font-weight: 400;
  margin: 0;
}
.single-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.334;
  color: $primaryColor;
  margin: 0;
}

.single_main-content {
  display: flex;
  align-items: start;
  gap: 16px;
  border-radius: 34px;
  background-color: #fff;
  padding: 8px;
  position: relative;
  margin-bottom: 64px;
  @include xs {
    flex-direction: column;
    margin-bottom: 55px;
  }
  .single_main-img {
    width: 28%;
    max-width: 313px;
    aspect-ratio: 313/254;
    border-radius: 34px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-shrink: 0;
    @include xs {
      width: 100%;
    }
  }
  .single_main-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
  }
  .single_main-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
  }
  .single_main-products {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $primaryColor;
    border-radius: 12px;
    height: 24px;
    width: fit-content;
    padding: 0 10px;
    color: $primaryColor;
    font-size: 12px;
    font-weight: 400;
  }
  .single_main-tools {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 8px;
  }
  .single_main-date {
    font-size: 12px;
    line-height: 1.334;
    font-weight: 400;
    color: #828282;
  }
  .single_main-desc {
    font-size: 14px;
    line-height: 1.43;
    font-weight: 400;
    color: #616161;
    margin: 0;
  }
  .single_main_countdown-label {
    font-size: 18px;
    line-height: 1.334;
    font-weight: 400;
    color: #828282;
  }
  .single_main_countdown-content {
    display: flex;
    align-items: center;
    gap: 16px;
    color: $primaryColor;
    line-height: 1.43;
    font-weight: 700;
  }
  .single_main_countdown-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #e7edf2;
    border-radius: 24px;
    width: 64px;
    height: 80px;
    margin: 0;
    .number {
      font-size: 20px;
    }
    .label {
      font-size: 14px;
    }
  }
  .single_main-labels {
    position: absolute;
    top: 24px;
    inset-inline-start: 24px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
  }
  .label-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    height: 24px;
    width: fit-content;
    padding: 0 10px;
    border-radius: 12px;
    color: $primaryColor;
    background-color: #e7edf2;
    font-size: 12px;
    font-weight: 400;
    .icon {
      width: 16px;
      aspect-ratio: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
    }
    &.featured {
      color: #2d883e;
      background-color: #d9ffd6;
    }
    &.type {
      color: #104c7f;
      background-color: #e7edf2;
    }
    &.status {
      color: #c9a43b;
      background-color: #faf6eb;
    }
  }
}
